body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New,
		monospace
}

.App {
	text-align: center
}

.App-logo {
	-webkit-animation: App-logo-spin infinite 20s linear;
	animation: App-logo-spin infinite 20s linear;
	height: 40vmin;
	pointer-events: none
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: #fff
}

.App-link {
	color: #61dafb
}

@
-webkit-keyframes App-logo-spin { 0%{
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg)
}

to {
	-webkit-transform: rotate(1turn);
	transform: rotate(1turn)
}

}
@
keyframes App-logo-spin { 0%{
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg)
}

to {
	-webkit-transform: rotate(1turn);
	transform: rotate(1turn)
}

}
div.arrow-right {
	margin-right: 30px
}

.paddingTopForElements {
	padding-top: 3%
}

.paddingBottomForText {
	padding-bottom: 2%
}

ol>li {
	display: table-cell;
	height: 30px;
	padding: 0;
	margin: 0;
	text-align: center;
	border: 1px solid #d4d4a1
}

ol>li, ol>li>div {
	position: relative
}

ol>li>div {
	line-height: 30px;
	height: 100%;
	width: 100%
}

ol>li:hover {
	cursor: pointer;
	color: #d4d4a1 !important
}

ol, ol>li:hover {
	background-color: #d4d4a1 !important
}

ol {
	display: table;
	width: 100%;
	padding: 0;
	margin: 0;
	position: relative
}

ol>li>div:after, ol>li>div:before {
	content: "";
	display: inline-block;
	border-width: 16px;
	border-style: solid;
	width: 0;
	height: 0;
	left: 100%;
	top: -1px;
	position: absolute;
	z-index: 1
}

ol>li:hover>div:before, ol>li>div:after, ol>li>div:before {
	border-color: transparent transparent transparent #d4d4a1
}

ol>li>div:before {
	border-width: 14px;
	display: block;
	z-index: 2;
	top: 1px
}

#batchJobs>div:first-child>div>div:nth-child(2)>ul {
	float: right
}

.tableHeading {
	background-color: #d4d4a1 !important
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	background-color: #e6e6e6;
	border-color: #dee2e6 #dee2e6 #e6e6e6;
	color: #000
}

.bg-light {
	background-color: #d4d4a1 !important;
	text-shadow: 0 0 #000
}
/*# sourceMappingURL=main.33ae7ff8.css.map*/